@*@model List<u3ndahl.Models.Program>*@
@{
    ViewBag.Title = "Index";
}
<!--Viktigt att komma ihåg mellanrummet mellan model och u3ndahl + litet m...-->
@model u3ndahl.Models.Program




<h2>Index</h2>
@DateTime.Now.DayOfWeek
@DateTime.Now.ToShortDateString()
@DateTime.Now.ToShortTimeString()
<br />
<!--Viktigt att komma ihåg stort M...-->
@Model.title och
@Model.channel

<!-- Sektioner med ikoner för de olika kanalerna -->
<section>
    <img src="~/Photos/nr1.png" title="Kanal 1" alt="Kanal 1" />
    <h2 id="program">Kanal 1</h2>
    @Html.Partial("_Channel1")
    <ul id="program">
        <li>18.00 Alfons elefanter</li>
        @*<li>@Model.title @Model.channel</li>*@
        <li>18.30 Fem myror är fler än fyra elefanter</li>
        <li>20.30 Femte elementet</li>
        <li>22.00 Nyheterna</li>
    </ul>
</section>

@*<div>@{
    Html.RenderPartial("_ShowProgram");
}</div>*@

<section>
    <img src="~/Photos/nr2.png" title="Kanal 2" alt="Kanal 2" />
    <h2 id="program">Kanal 3</h2>
    
    @*<ul id="program">
        <li>18.00 The Goonies</li>
        <li>19.30 Stargate</li>
        <li>21.00 Femte elementet</li>
        <li>23.00 Indiana Jones</li>
    </ul>*@
</section>

<section>
    <img src="~/Photos/nr3.png" title="Kanal 3" alt="Kanal 3" />
    <h2 id="program">Kanal 3</h2>
    <ul id="program">
        <li>09.00 Morgonfotöljen</li>
        <li>11.00 Loppisfyndarna</li>
        <li>19.00 Sveriges bästa hemmabagare</li>
        <li>20.00 Mytkrossarna</li>
    </ul>
</section>

<section>
    <img src="~/Photos/nr4.png" title="Kanal 4" alt="Kanal 4" />
    <h2 id="program">Kanal 4</h2>
    <ul id="program">
        <li>19.00 Vad är PI</li>
        <li>20.00 Databasteknik för nybörjare</li>
        <li>21.00 Nyhetssändning</li>
        <li>21.30 Liftarens guide till galaxen</li>
    </ul>
</section>
<br />

