@model List<u3ndahl.Models.Program>
@{
    ViewBag.Title = "Index";
}
<!--Viktigt att komma ihåg mellanrummet mellan model och u3ndahl + litet m...-->
@*@model u3ndahl.Models.Program*@

<div id="date">
    <h3 id="day">
        <strong>
            @*@DateTime.Now.DayOfWeek*@
            @DateTime.Now.ToShortDateString()
            @DateTime.Now.ToShortTimeString()
        </strong>
    </h3>
</div>
    <!--Viktigt att komma ihåg stort M...-->
    @*@*Model.title och
        @Model.channel*@



    <!-- Sektioner med ikoner för de olika kanalerna -->
    <section>
        <img src="~/Photos/nr1.png" title="Kanal 1" alt="Kanal 1" />
        <h2 id="program">Kanal 1</h2>
        @Html.Partial("Channel")
        
    </section>

    <section>
        <img src="~/Photos/nr2.png" title="Kanal 2" alt="Kanal 2" />
        <h2 id="program">Kanal 2</h2>
       @Html.Partial("_Channel2")
    </section>


    <section>
        <img src="~/Photos/nr3.png" title="Kanal 3" alt="Kanal 3" />
        <h2 id="program">Kanal 3</h2>
            @Html.Partial("_Channel3")
         
    </section>

    <section>
        <img src="~/Photos/nr4.png" title="Kanal 4" alt="Kanal 4" />
        <h2 id="program">Kanal 4</h2>
            @Html.Partial("Channel4")
           
    </section>
    <br />

