@model u3ndahl.Models.Program
@{
    ViewBag.Title = "Programinfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<aside id="programtext">
    <h2>Programinfo</h2>
    <ul>
    <li>Program: <strong> @Model.title</strong></li> 
    <li>Beskrivning: <strong> @Model.description </strong></li>
    <li>Kategori:  <strong> @Model.category </strong></li>
    <li>Visas:  <strong> @Model.date.ToShortDateString() </strong> Klockan:  <strong> @Model.date.ToShortTimeString() </strong></li>
</ul>
    <br />
    <br />
    <br />
@Html.ActionLink("Tillbaka", "Index")
</aside>