@model u3ndahl.Models.Program
@{
    ViewBag.Title = "Programinfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="programinfo">
    <h4>Programinfo</h4>
    <ul id="program">
    <li>Program: <strong> @Model.title</strong></li> 
    <li>(@Model.length min)</li>
    <li>Beskrivning: </li> 
    <li><i>@Model.description </i></li>
    <li>Kategori:  <strong> @Model.category </strong></li>
    <li>Visas:  <strong> @Model.date.ToShortDateString() </strong> Klockan:  <strong> @Model.date.ToShortTimeString() </strong></li>
</ul>
    <br />
    <br />
    <br />
@Html.ActionLink("Tillbaka", "Index")
</div>