




<ul id="program">
    @foreach (var p in Model)
    {
        <li>@p.category| @p.channel || @p.date | @p.title @Html.ActionLink("(Info)", "ShowInfo", "Home", new { id = p.id }, null)</li>
    }
</ul>
