@model u3ndahl.Models.Message
@{
    ViewBag.Title = "Kontakta oss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h4 id="contact">Kontakta oss</h4>
<aside class="=contact">
    
    @using (Html.BeginForm())
    {
        @Html.LabelFor(x => x.Firstname, "Förnamn");<br />
        @Html.TextBoxFor(x => x.Firstname)<br />
        @Html.LabelFor(x => x.Email, "Email");<br />
        @Html.TextBoxFor(x => x.Email)<br />
        @Html.LabelFor(x => x.Text, "Meddelande");<br />
        @Html.TextBoxFor(x => x.Text)<br />
        
        <input type="button" id="submitBtn" value="Skicka">
    }

</aside>

